# Linear Modelling

## 2.Logistic Regression
It is a classification alogirithm based on independent variables used to determine descrete values 0 or 1 ,false or True or Yes ,No.

In [11]:
#prdeict a student will pass or not  based on maths,physics,chem maths
import pandas as pd
import numpy as np
df = pd.read_csv("Student.csv")

In [12]:
df.columns

Index(['Maths', 'Physics', 'Chemistry', 'Result'], dtype='object')

In [13]:
df.head(5)

   Maths  Physics  Chemistry  Result
0     17       27         22       0
1     72       82         77       1
2     97       18         13       0
3      8       42         37       0
4     32       25         20       0

In [14]:
label = df["Result"]
df = df.drop('Result',axis=1)
df.sample(2)

     Maths  Physics  Chemistry
734     74       31         56
647     10       82         35

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [19]:
model = LogisticRegression()
model.fit(df,label)

LogisticRegression()

In [22]:
marks = [10,40,100]
if model.predict([marks])==0:
    print("Fail")
else:
    print("Pass")

Fail